#!/bin/bash

if [ $ZSH_NAME ]; then
	[ -f "$HOME/.ealias.zsh" ] && source "$HOME/.ealias.zsh"
else
	alias ealias='alias'
fi

# Aliases
ealias cl='clear'
ealias rs='reset'
ealias c='cat'
ealias ls='ls --color=auto'
ealias ll='ls -lh'
ealias la='ls -A'
ealias lla='ls -lhA'
ealias l='ls -CF'
ealias ..='cd ..'
ealias 1='cd ..'
ealias ...='cd ../..'
ealias 2='cd ../..'
ealias ....='cd ../../..'
ealias 3='cd ../../..'
ealias 4='cd ../../../..'
ealias 5='cd ../../../../../'
ealias po='popd'

alias rm='\rm -iv'
alias mv='\mv -iv'
alias ln='\ln -iv'
alias cp='\cp -iv'
ealias cppreserve='cp -r -i --preserve=mode,ownership,timestamps,links'
ealias cppreservebackup='cp -r -i --backup=numbered --preserve=mode,ownership,timestamps,links'
ealias cppreservebackupsrc='cp -r -i --backup=numbered -f --preserve=mode,ownership,timestamps,links'

alias grep='\grep --color=always'
alias grepi='\grep --color=always -i'
alias grepv='\grep -v'
alias grep2='\grep --color=always -d skip'
alias grep2i='\grep --color=always -d skip -i'

ealias df='\df -h'
ealias dus='du -chs'
ealias du1s='du -achd1 | sort -h'
ealias free='\free -h'
ealias ps='\ps aux'
#ealias psg='ps aux| grep -i'
ealias bc='\bc -l'
ealias wcl='wc -l'
ealias wcc='wc -c'
ealias eche='echo -e'
ealias hd='head'
ealias hd1='head -1'
ealias hd5='head -5'
ealias tl='tail'
ealias tl1='tail -1'
ealias tl5='tail -5'
ealias tf='tail -f'
ealias cals='\cal -w'
ealias clcals='clear; \cal -wn2'
ealias calm='\cal -mw'
ealias clcalm='clear; \cal -mwn2'

ealias e='vim -p'
ealias vi='vim -p'
ealias vip='vim -p'
ealias vir='vim -R'
ealias vs='vim -S'
ealias vss='vim -S session.vim'
alias ven="perl-rename 's/~*$//'"   # enable vim plugin
alias vdi="perl-rename 's/~*$/~/'"  # disable vim plugin

# GIT
# TODO: use gitconfig to generate these
ealias g='git'
ealias gh='git help'
ealias gclone='git clone'
ealias gcl='git clone'
ealias gs='git status'
ealias gsu='git status -uno'
ealias gss='git status --short'
ealias gssu='git status --short -uno'
ealias gcim='git commit -m'
ealias gcia='git commit --amend'

ealias ga='git add -p'
ealias gaj="git add -p '*js'"
ealias gah="git add -p '*html'"
ealias gacss="git add -p '*css'"
ealias gap="git add -p '*py'"
# http://stackoverflow.com/questions/2855140/recursively-add-files-by-pattern
#alias gafe="git ls-files -dmo --exclude-standard | grep -E '\\.(js|coffee|html|jade|css|styl|scss|less)$' | xargs git add -p"

ealias gadd='git add'
ealias gmv='git mv'
ealias grm='git rm'
ealias gls='git ls'
ealias gls1='git ls1'
ealias gls3='git ls3'
ealias gls5='git ls5'
ealias glso='git log --oneline'
# shellcheck disable=SC2016
ealias glsor='git log --oneline origin/$(gcbr)..'
ealias glg='git lg'
ealias glgns='git lg --name-status'
ealias glga='git lga'
ealias glgans='git lga --name-status'
ealias gsh='git show'

ealias gd='git diff --color-words'
ealias gdj="git diff --color-words '*js'"
ealias gdh="git diff --color-words '*html'"
ealias gdcss="git diff --color-words '*css'"
ealias gdpy="git diff --color-words '*py'"

ealias gds='git diff --stat'
ealias gdc='git diff --cached --color-words'
ealias gdcs='git diff --cached --stat'
ealias gdcns='git diff --cached --name-status'
ealias gdns='git diff --name-status'
ealias gbr='git branch'
ealias gcbr='git rev-parse --abbrev-ref HEAD' # current branch
ealias gco='git checkout'
ealias gcob='git checkout -b'
ealias gf='git fetch'
ealias gpull='git pull'
ealias gp='git pull'
ealias gps='git push'
ealias gres='git reset'
ealias grh='git reset HEAD'
ealias gstash='git stash'
ealias gst='git stash'
ealias gstl='git stash list'
ealias gpop='git stash pop'
ealias gmnof='git merge --no-ff'
ealias gm='git merge'
ealias grb='git rebase -i'
ealias grbc='git rebase --continue'
ealias grba='git rebase --abort'
ealias grem='git remote'
ealias grv='git remote -v'
ealias gt='git tag'
ealias gtl='git tag -l'
ealias groot='git rev-parse --show-toplevel'
ealias gex='git exec'  # execute command at top level of git directory
ealias gexcl="echo $(groot)/.git/info/exclude"
ealias gcexcl="cat $(groot)/.git/info/exclude"

ealias t='tmux'
ealias tls='tmux ls'
ealias tn='tmux new -s'
ealias ta='tmux attach -t'
ealias tp='tmuxp load'
ealias tps='tmuxp freeze'

# fasd - https://github.com/clvv/fasd
ealias v='f -e vim' # quick opening files with vim
ealias m='f -e vlc' # quick opening files with vlc
ealias o='a -e xdg-open' # quick opening files with xdg-open

ealias i3m='i3-msg'
ealias i3tt='i3start ~/.config/i3/two-tabbed-vertical-panes'
ealias i3tef='i3start ~/.config/i3/toggle-external-fullscreen'
ealias i3w0='i3start ~/.config/i3/workspace-0'
ealias i3w1='i3start ~/.config/i3/workspace-1'

ealias fh='fish'

ealias wifi='sudo iw dev wlan0'
ealias wifiup='sudo ip link set wlan0 up'
ealias net='connmanctl'
ealias wcon='connmanctl connect'
ealias wena='connmanctl enable wifi'
ealias wdis='connmanctl disable wifi'
ealias wlist='connmanctl services'
ealias wscan='connmanctl scan wifi'
ealias wst='connmanctl state'
ealias wtech='connmanctl technologies'

ealias pacman='pacmatic'
ealias pacmann='sudo pacmatic --needed'
ealias pacaurn='pacaur --needed'
ealias pac='pacmatic'
ealias paci='pacmatic --needed -S'
ealias pacu='pacmatic -Syu'
ealias pacs='pacmatic -Ss'
ealias pacqi='pacmatic -Qi'
ealias pacsi='pacmatic -Si'
ealias pacr='pacmatic -Rs'

ealias sudo='sudo ' # hack to make aliases work - http://askubuntu.com/questions/22037/aliases-not-available-when-using-sudo/22043#22043
ealias trash='gvfs-trash'
ealias trash-list="ls $HOME/.local/share/Trash/files"


# download this page and all pages one level down including all resources (do not make host directories)
ealias downloadPageOneLevel='wget -nH -k -p -r -l 1'

ealias downloadPdfsOnPage='wget -nH -r -l 1 -H -A pdf'

ealias ytf='youtube-dl -F'
ealias ytd='youtube-dl'
ealias yt='youtube-dl -f webm'
ealias ytw='youtube-dl -f worst'
ealias ytlsub='youtube-dl --list-subs'
ealias ytsub='youtube-dl --ignore-config --skip-download --write-auto-sub --sub-lang en'

alias ffprobe='\ffprobe -hide_banner'

ealias lm='lastmod.sh'
ealias lma='lastmod.sh -A'

ealias filesize='stat -c%s'

ealias rdp1='rdesktop -g 1280x800' # laptop screen
ealias rdp='rdesktop -g 1280x1024' # external monitor

ealias zmtime='find ~/zim/**/*.txt -mtime'
ealias zctime='find ~/zim/**/*.txt -ctime'
ealias zmmin='find ~/zim/**/*.txt -mmin'
ealias zcmin='find ~/zim/**/*.txt -cmin'

ealias agj='ag --js --coffee'
ealias agh='ag --html --jade'
ealias ags='ag --css --stylus --sass --less'
alias agjh='ag --js --coffee --html --jade'
alias aghs='ag --html --jade --css --stylus --sass --less'
alias agfe='ag --js --coffee --html --jade --css --stylus --sass --less'
ealias agpy='ag --py'

ealias jq.='jq "."'
ealias jq0='jq ".[0]"'

# GUI programs
#ealias bitcoin-qt='bitcoin-qt -datadir=/data/bitcoin'
ealias runs='runsilent'
ealias term='runsilent urxvt'
ealias fm='runsilent pcmanfm'
ealias ff='runsilent firefox -no-remote'
ealias chrome='runsilent chromium'
ealias opera='runsilent opera'
ealias rss='runsilent rssowl'
ealias panel='runsilent lxpanel'
ealias panel2='runsilent lxpanel --profile default.bak'
ealias keepass='runsilent keepassx'
ealias chat='runsilent pidgin'
ealias subl='runsilent subl'
ealias music='runsilent pithos'
ealias slack='runsilent slack'
ealias qalc='runsilent qalculate-gtk'
ealias upwork='runsilent upwork'
ealias zim='runsilent zim'

ealias dropstart='runsilent dropbox-cli start'
ealias dropstop='runsilent dropbox-cli stop'
ealias dropback='dropbox-backup.sh'
ealias droppub='dropbox-cli puburl'
ealias dropshare='dropbox-cli sharelink'
ealias dropstat='dropbox-cli status'

ealias runxlock='nohup xautolock-init.sh &'
ealias lock='xautolock -locknow'

ealias caps-toggle='xdotool key Caps_Lock'

# Android
ealias emulator='runsilent emulator -force-32bit'

# Database
ealias mysqli='mysql --auto-rehash'

# Haskell flags
ealias ghc='ghc -Wall -fwarn-incomplete-patterns -fwarn-name-shadowing'
ealias ghci='ghci -Wall -fwarn-incomplete-patterns -fwarn-name-shadowing'

# npm
if [ -f ~/.npm_lazy.config.js ]; then
	registry=$(grep externalUrl ~/.npm_lazy.config.js | awk '{print $2}' | tr -d "',")
	ealias npmr="npm --registry=$registry"                    # client
	ealias npm_lazy='npm_lazy --config ~/.npm_lazy.config.js' # server
fi
ealias np='npml'
ealias npl='npml'

ealias npi='npml i'
ealias ni='npml i'
ealias npig='npml i -g'
ealias nig='npml i -g'
ealias nug='npml upd -g'
ealias nis='npml i -S' # save
ealias nisd='npml i -D' # save-dev

ealias nrm='npml rm'
ealias nrmg='npml rm -g'

ealias npr='npm run'
ealias nr='npm run'
ealias nprs='npm run --silent'
ealias nrs='npm run --silent'

ealias ns='npm start'
ealias nd='npm run --silent dev'

ealias npt='npm test --silent'
ealias nt='npm test --silent'
ealias npwt='npm run --silent watch-test'
ealias nwt='npm run --silent watch-test'
ealias nplt='npm run --silent lint'
ealias nlt='npm run --silent lint'

ealias npv='npm version -m "%s"'
ealias npva='npm version major -m "%s"'
ealias npvi='npm version minor -m "%s"'
ealias npvp='npm version patch -m "%s"'

ealias grunts='grunt serve'

# Python
ealias mypys='mypy --silent-imports'
ealias mypya='mypy --implicit-any'
ealias mypysa='mypy --silent-imports --implicit-any'

# Node
ealias tsj='tsc --allowJs'

if [ $ZSH_NAME ]; then
	ealias rh='rehash'

	# Global aliases (zsh only)
	# http://zsh.sourceforge.net/Intro/intro_8.html
	ealias -g G='| grep'
	ealias -g Gv='| grep -v'
	ealias -g Gi='| grep -i'
	ealias -g Giv='| grep -iv'
	ealias -g L='| less'
	ealias -g D='date +%F' # date in the format YYYY-MM-DD
	ealias -g DW='date +%W' # ISO Week
	ealias -g DYW='date +%Y-W%W-%u' # date in the format <4 digit year>-W<iso week>-<day of week>
	ealias -g TEST=' && echo "true" || echo "false"'


	ealias nginxlogs="tail -f /var/log/nginx/*.log | grep -iv NewRelicPinger"

	hash -d dot=~/dev/dotfiles
	hash -d src=/data/src
	hash -d docs=/data/docs
	hash -d bin=~/bin
	hash -d vpl=~/.vim/bundle

	hash -d nxa=/etc/nginx/sites-available
	hash -d nxe=/etc/nginx/sites-enabled
	hash -d nxl=/var/log/nginx
	hash -d vl=/var/log
fi

# Re-source this file (NOTE: won't remove deleted aliases)
ealias ra="source $0"

# Debian aliases
ealias install='sudo apt-get install'
ealias search='apt-cache search'
ealias update='sudo apt-get update && sudo apt-get upgrade'
ealias remove='sudo apt-get remove'
