# ALIASES
alias c='clear'
alias r='reset'
alias ls='ls --color=auto'
alias ll='ls -lh'
alias la='ls -A'
alias lla='ls -lhA'
alias l='ls -CF'
alias lsg='ll | grep -i'
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias po='popd'

alias rm='rm -iv'
alias mv='mv -iv'
alias ln='ln -iv'
alias cp='cp -iv'
alias cppreserve='cp -r -i --preserve=mode,ownership,timestamps,links'
alias cppreservebackup='cp -r -i --backup=numbered --preserve=mode,ownership,timestamps,links'
alias cppreservebackupsrc='cp -r -i --backup=numbered -f --preserve=mode,ownership,timestamps,links'

alias grep='grep --color'
alias grepi='grep --color -i'
alias grep2='grep --color -d skip'

alias df='df -h'
alias free='free -h'
alias ps='ps aux'
alias psg='ps aux| grep -i'

alias e='vim'
alias vi='vim'

alias g='git'
alias gclone='git clone'
alias gst='git status'
alias gcia='git commit --amend'
alias gadd='git add'
alias grm='git rm'
alias gls='git ls'
alias gsh='git show'
alias gd='git diff'
alias gbr='git branch'
alias gdc='git diff --cached'
alias gdcns='git diff --cached --name-status'
alias gdns='git diff --name-status'
alias gpull='git pull'
alias gp='git pull'
alias gps='git push'

alias fh='fish'

alias wifi='sudo iw dev wlan0'
alias wifiup='sudo ip link set wlan0 up'

alias pacman='pacmatic'
alias pacmann='sudo pacmatic --needed'
alias pacaurn='pacaur --needed'

alias sudo='sudo ' # hack to make aliases work - http://askubuntu.com/questions/22037/aliases-not-available-when-using-sudo/22043#22043
alias trash='gvfs-trash'
alias trash-list="ls $HOME/.local/share/Trash/files"

# download this page and all pages one level down including all resources (do not make host directories)
alias downloadPageOneLevel='wget -nH -k -p -r -l 1'

alias lm='lastmod.sh'
alias lma='lastmod.sh -A'

# GUI programs
#alias bitcoin-qt='bitcoin-qt -datadir=/data/bitcoin'
alias term='runsilent urxvt'
alias fm='runsilent pcmanfm'
alias ff='runsilent firefox -no-remote'
alias chrome='runsilent chromium'
alias opera='runsilent opera'
alias rss='runsilent rssowl'
alias panel='runsilent lxpanel'
alias keepass='runsilent keepassx'
alias subl='runsilent subl'

alias runxlock='xautolock-init.sh'
alias lock='xautolock -locknow'

# Android
alias emulator='runsilent emulator -force-32bit'

# Haskell flags
alias ghc='ghc -fwarn-incomplete-patterns -fwarn-name-shadowing'

if [ $ZSH_NAME ]; then
	alias rh='rehash'

	# Global aliases (zsh only)
	# http://zsh.sourceforge.net/Intro/intro_8.html
	alias -g G='| grep'
	alias -g Gi='| grep -i'
	alias -g L='| less'
	alias -g D='date +%F' # date in the format YYYY-MM-DD
	alias -g TEST=' && echo "true" || echo "false"'
fi
