#!/bin/bash

# Aliases
ealias cl='clear'
ealias rs='reset'
ealias c='cat'
ealias ls='ls --color=auto'
ealias ll='ls -lh'
ealias la='ls -A'
ealias lla='ls -lhA'
ealias l='ls -CF'
ealias ..='cd ..'
ealias 1='cd ..'
ealias ...='cd ../..'
ealias 2='cd ../..'
ealias ....='cd ../../..'
ealias 3='cd ../../..'
ealias 4='cd ../../../..'
ealias po='popd'

ealias rm='rm -iv'
ealias mv='mv -iv'
ealias ln='ln -iv'
ealias cp='cp -iv'
ealias cppreserve='cp -r -i --preserve=mode,ownership,timestamps,links'
ealias cppreservebackup='cp -r -i --backup=numbered --preserve=mode,ownership,timestamps,links'
ealias cppreservebackupsrc='cp -r -i --backup=numbered -f --preserve=mode,ownership,timestamps,links'

ealias grep='grep --color=always'
ealias grepi='grep --color=always -i'
ealias grep2='grep --color=always -d skip'

ealias df='df -h'
ealias free='free -h'
ealias ps='ps aux'
#ealias psg='ps aux| grep -i'
ealias bc='bc -l'
ealias wcl='wc -l'
ealias eche='echo -e'
ealias hd='head'
ealias tl='tail'
ealias tf='tail -f'

ealias e='vim -p'
ealias vi='vim -p'
ealias vip='vim -p'
ealias vir='vim -R'
ealias vs='vim -S'
ealias vss='vim -S session.vim'

# GIT
# TODO: use gitconfig to generate these
ealias g='git'
ealias gclone='git clone'
ealias gcl='git clone'
ealias gs='git status'
ealias gsu='git status -uno'
ealias gss='git status --short'
ealias gssu='git status --short -uno'
ealias gcim='git commit -m'
ealias gcia='git commit --amend'
ealias ga='git add -p'
ealias gadd='git add'
ealias gmv='git mv'
ealias grm='git rm'
ealias gls='git ls'
ealias gls1='git ls1'
ealias gls3='git ls3'
ealias gls5='git ls5'
ealias glso='git log --oneline'
ealias gsh='git show'
ealias gd='git diff'
ealias gds='git diff --stat'
ealias gdc='git diff --cached'
ealias gdcns='git diff --cached --name-status'
ealias gdns='git diff --name-status'
ealias gbr='git branch'
ealias gco='git checkout'
ealias gcob='git checkout -b'
ealias gpull='git pull'
ealias gp='git pull'
ealias gps='git push'
ealias gres='git reset'
ealias gstash='git stash'
ealias gst='git stash'
ealias gstl='git stash list'
ealias gpop='git stash pop'
ealias gmnof='git merge --no-ff'

ealias t='tmux'
ealias tn='tmux new -s'
ealias ta='tmux attach -t'
ealias tp='tmuxp load'
ealias tps='tmuxp save'

# fasd - https://github.com/clvv/fasd
ealias v='f -e vim' # quick opening files with vim
ealias m='f -e vlc' # quick opening files with vlc
ealias o='a -e xdg-open' # quick opening files with xdg-open

ealias fh='fish'

ealias wifi='sudo iw dev wlan0'
ealias wifiup='sudo ip link set wlan0 up'
ealias net='connmanctl'
ealias wcon='connmanctl connect'
ealias wena='connmanctl enable wifi'
ealias wdis='connmanctl disable wifi'
ealias wlist='connmanctl services'
ealias wscan='connmanctl scan wifi'
ealias wst='connmanctl state'

ealias pacman='pacmatic'
ealias pacmann='sudo pacmatic --needed'
ealias pacaurn='pacaur --needed'
ealias pac='pacmatic'
ealias paci='pacmatic --needed -S'
ealias pacu='pacmatic -Syu'
ealias pacs='pacmatic -Ss'
ealias pacqi='pacmatic -Qi'
ealias pacsi='pacmatic -Si'
ealias pacr='pacmatic -Rs'

ealias sudo='sudo ' # hack to make aliases work - http://askubuntu.com/questions/22037/aliases-not-available-when-using-sudo/22043#22043
ealias trash='gvfs-trash'
ealias trash-list="ls $HOME/.local/share/Trash/files"


# download this page and all pages one level down including all resources (do not make host directories)
ealias downloadPageOneLevel='wget -nH -k -p -r -l 1'

ealias downloadPdfsOnPage='wget -nH -r -l 1 -H -A pdf'


ealias lm='lastmod.sh'
ealias lma='lastmod.sh -A'

ealias mysqli='mysql --auto-rehash'


# GUI programs
#ealias bitcoin-qt='bitcoin-qt -datadir=/data/bitcoin'
ealias term='runsilent urxvt'
ealias fm='runsilent pcmanfm'
ealias ff='runsilent firefox -no-remote'
ealias chrome='runsilent chromium'
ealias opera='runsilent opera'
ealias rss='runsilent rssowl'
ealias panel='runsilent lxpanel'
ealias keepass='runsilent keepassx'
ealias subl='runsilent subl'
ealias pithos='runsilent pithos'
ealias qalc='runsilent qalculate'

ealias runxlock='xautolock-init.sh'
ealias lock='xautolock -locknow'

# Android
ealias emulator='runsilent emulator -force-32bit'

# Haskell flags
ealias ghc='ghc -fwarn-incomplete-patterns -fwarn-name-shadowing'

# Python
ealias mypys='mypy --silent-imports'
ealias mypya='mypy --implicit-any'
ealias mypysa='mypy --silent-imports --implicit-any'

# Node
ealias tsj='tsc --allowJs'

if [ $ZSH_NAME ]; then
	ealias rh='rehash'

	# Global aliases (zsh only)
	# http://zsh.sourceforge.net/Intro/intro_8.html
	ealias -g G='| grep'
	ealias -g Gi='| grep -i'
	ealias -g L='| less'
	ealias -g D='date +%F' # date in the format YYYY-MM-DD
	ealias -g TEST=' && echo "true" || echo "false"'

	ealias -g nxa='/etc/nginx/sites-available'
	ealias -g nxe='/etc/nginx/sites-enabled'
	ealias -g VL='/var/log'
fi

# Debian aliases
ealias install='sudo apt-get install'
ealias search='apt-cache search'
ealias update='sudo apt-get update && sudo apt-get upgrade'
ealias remove='sudo apt-get remove'
